<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- navbar -->

    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row text-center my-5">

                        <figure>
                            <img src="images/error.png" alt="" class="img-fluid " title="vishal kachhap">
                        </figure>
                        <p>
                            <h1>page not found opps!</h1>
                        </p>
                         <a href="/" ><button class="btn button btn-primary btn-lg">Go back</button></a>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->

    {{>footer}}


    {{>bodylinks}}

</body>
</html>